@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Lora");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

:root {
  --body-font: "Roboto", sans-serif;
  --font-main: "Lobster", cursive;
  --font-blog: 'futura-pt', 'halyard-display', 'sans-serif';
  --login-font: "Open Sans", sans-serif;
}
/*  */
.header {
  height: 55px;
  width: 100%;
  background-color: #ffffff;
  padding: 0 20px;
  justify-content: space-between;
  flex-shrink: 0;

  vertical-align: middle;
}
.header .header-title{
  position: absolute;
  left: 40%;
  top: 0;
}
.header a{
  color: #8b939c;
  font-family: var(--font-main) !important;
}
.header-title {
  font-size: 30px;
  font-weight: 400;
  margin-right: 120px;
  max-width: 200px;
  height: 50px;

  display: flex;
  align-items: center;
}
.header-title span {
  font-weight: 500;
  color: #3d4954;
}
/* Left Menu */

.left-menu-hamburger a{
  font-family: var(--font-main);
  font-weight: lighter;
  text-decoration: none;
  text-transform: initial;
  font-size: 25px;
  color: #3d4954;
  align-self: center;
}
/* ===================== Right Menu - Sign in & Sign up ===================== */
.right-menu {
  position: absolute;
  right: 0;
  top: 5px;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
.right-menu button{
  padding: 8px;
  margin: 0 5px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.sign-up{
  background-color: red;
}
.sign-up a{
  font-family: var(--font-main) !important;
  color:#ffffff !important;
  font-weight: lighter;
  text-decoration: none;
  text-transform: initial;
  font-size: 20px !important;
}

.right-menu a {
  padding: 5px;
  text-decoration: none;
  align-self: center;
  font-family: cursive;
  font-weight: lighter;
  text-transform: initial;
  font-size: 20px;
}
.right-menu a:hover,
.links-icons a:hover,
.left-menu a:hover  {
  color: coral !important;
  text-shadow: 0 0 2px chocolate !important;
}
/* ===================== Menu Button - on Phone ===================== */
.left-menu-hamburger button{
  padding: 8px 10px;
  border: none;
  border-radius: 8px;
  position: relative;
  margin-right: 5px;
  display: block;
}
.left-menu-hamburger button{
  color: #3d4954;
  background-color: #8e9aaf00;
  font-weight: lighter;
  text-decoration: none;
  text-transform: initial;
  font-size: 25px;
}

.left-menu-hamburger{
  overflow: visible;
}
/* Dropdown Menu Content */
.drop-down-content {
  text-align: center;
  min-width: 15%;
  padding: 5px;
}
.left-menu-hamburger #drop-down-content{
  display: none;
  position: fixed;
   top: 50px;
   left: 0px;
}
.left-menu-hamburger ul{
  margin: 0;
}
.left-menu-hamburger li{
  box-sizing: border-box;
  padding: 5px 5px;
  background-color: #ffffff;
}
.left-menu-hamburger li:last-child{
  border-radius: 0 0 5px 5px;
}

/* .right-menu-hamburger li:first-child{
  border-radius: 5px 5px 0 0;
} */
/* *************** Responsive Menu - Header **************** */
@media screen and (max-width: 800px) {
.header{
  padding: 0;
}
.header-title{
  position: absolute !important;
  left: 120px !important;
  top: 0 !important;
}
/* .goDark{
  position: absolute;
  right: 0;
} */
.right-menu .search-container{
  display: none;
}
.right-menu .goDark{
  display: none;
}
.right-menu a1{
  display: none;
}
.left-menu-hamburger .goDark{
  position: relative;
  left: 10px;
  top: 0;
}

}
/*  */
.search-box {
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #ebebeb;

  margin: 0px 10px;
}
.search-box + label .search-icon {
  color: black;
}
.search-box:hover {
  color: white;
  background: #c8c8c8;
  box-shadow: 0 0 0 5px #3d4752;
}
.search-box:hover + label .search-icon {
  color: white;
}
.search-box:focus {
  transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 180px;
  border-radius: auto;
  background: #ebebeb;
  color: black;
}
.search-box:focus + label .search-icon {
  color: black;
}
.search-box:not(:focus) {
  text-indent: -5000px;
}
#search-submit {
  position: relative;
  left: -5000px;
}
.search-icon {
  position: relative;
  left: -40px;
  color: white;
  cursor: pointer;
}
/*  */
.goDark{
  position: relative;
  top: 1px;
  border-radius: 50% !important;
  width: 40px;
}
.goDark i{
  font-size: 22px;
  font-weight: 800;
  color: black;
}
.left-menu-hamburger li:last-child{
  display: flex;
  flex: auto;
}

/*  */
/* div box styling */
.modal {
 /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  height: 100vh;
}
.login{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}
.login h2{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 60px;
  padding: 13px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;

}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
  color: black;
}
.textbox input{
  border:none;
  outline: none;
  background:none ;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin:0 10px;
}
.btn{
  width: 100%;
  background:none;
  border: 2px solid #4caf50;
  color:white;
  padding: 5px;
  font-size:18px;
  cursor: pointer;
  margin: 12px 0;
}
.btn:hover{
  transition: 0.3s;
  transform: translateX(5%);
}
input:focus::placeholder {
  color: transparent;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#3d4752;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#3d4752;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:#3d4752;
}
@media screen and (max-width: 800px) {
.login-container form{
  padding: 0 5px;
}
}
